*
!*/

!.zshrc
!.zprofile
!.mbsyncrc
!.gitconfig
!.gitignore
!.gitignore_global

!Brewfile

!ghostty/
!ghostty/**

!gnupg/
!gnupg/common.conf
!gnupg/gpg-agent.conf

!rime/
!rime/**

!mpv/
!mpv/mpv.conf
