[user]
    email = roifewu@gmail.com
    name = roife
[core]
	hooksPath = ~/.git-hooks
	quotepath = false
	excludesfile = /Users/roifewu/.gitignore_global
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
