*
!*/

!.mbsyncrc
!.gitconfig
!.gitignore
!.gitignore_global
!init.sh

!Brewfile

!fish/
!fish/config.fish
!fish/fish_plugins

!mise/
!mise/aqua-registry.yaml
!mise/config.toml

!ghostty/
!ghostty/**

!gnupg/
!gnupg/common.conf
!gnupg/gpg-agent.conf

!rime/
!rime/**

!mpv/
!mpv/mpv.conf

!.agents/
!.agents/**

!secrets/
!secrets/.authinfo.gpg
