*
!*/

!.mbsyncrc
!.gitconfig
!.gitignore
!.gitignore_global
!init.sh

!Brewfile

!fish/
!fish/config.fish
!fish/fish_plugins

!mise/
!mise/**

!ghostty/
!ghostty/**

!gnupg/
!gnupg/common.conf
!gnupg/gpg-agent.conf

!rime/
!rime/**

!mpv/
!mpv/mpv.conf
