[user]
    email = roifewu@gmail.com
    name = roife
[core]
	hooksPath = ~/.git-hooks
	quotepath = false
	excludesfile = ~/.gitignore_global
	fsmonitor = true
	preloadindex = true
	untrackedCache = true
[fetch]
	prune = true
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[github]
	user = roife
